<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- 配置不过滤的资源（静态资源） -->
    <security:http pattern="/**/*.css" security="none"/>
    <security:http pattern="/**/*.jpg" security="none"/>
    <security:http pattern="/**/*.jpeg" security="none"/>
    <security:http pattern="/**/*.gif" security="none"/>
    <security:http pattern="/**/*.png" security="none"/>
    <security:http pattern="/js/*.js" security="none"/>

    <security:http pattern="/login.jsp" security="none"/>
    <security:http pattern="/ecp/login" security="none"/>
    <security:http pattern="/getCode" security="none" /><!-- 不过滤验证码 -->


    <security:http auto-config="true">
        <security:intercept-url pattern="/ecp/login" access="ROLE_SERVICE"/>
        <security:intercept-url pattern="/**" access="ROLE_ADMIN"/>
        <security:form-login login-page="/views/ecp/login.jsp" authentication-failure-url="/views/ecp/login.jsp"
                        default-target-url="/ecp/index"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service >
                <security:user name="admin" password="admin" authorities="ROLE_ADMIN"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>


</beans>